*{
    margin: 0px;
    padding: 0px;
}

body{
    /* background-image: url('bg.jpeg'); */
    /* background-size: cover; */
    overflow: hidden;
    height: 90vh;
}

.bgVideo{
    width: 100%;
    height: 100%;
}

.startMenu{
    bottom: -650px;
    position: absolute;
    /* height: 80%; */
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in;
}

.startMenu img{
    border-radius: 10px;
}

.taskBar{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
    background-color: white;
}

.right{
    position: absolute;
    right: 0;
    margin: 6px;
    height: 80%;
}

.icons{
    color: black;
}